{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>
    
    <div class="card shadow mb-4">        
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Informações gerais
            </h4>
        
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Horário de chegada</label>
                        <input type="text" class="form-control" value="{{ visitante.horario_chegada }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Número da casa a ser visitada</label>
                        <input type="text" class="form-control" value="{{ visitante.numero_casa }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Horário de autorização de entrada</label>
                        <input type="text" class="form-control" value="{{ visitante.horario_autorizacao }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Entrada autorizada por</label>
                        <input type="text" class="form-control" value="{{ visitante.morador_responsavel }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Horário de saída</label>
                        <input type="text" class="form-control" value="{{ visitante.horario_saida }}" disabled>
                    </div>
                </div>
            </form>
        
            <h4 class="mb-3 mt-4 text-primary">
                Informações pessoais
            </h4>
            
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nome completo</label>
                        <input type="text" class="form-control" value="{{ visitante.nome_completo }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>CPF</label>
                        <input type="text" class="form-control" value="{{ visitante.cpf }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Data de nascimento</label>
                        <input type="text" class="form-control" value="{{ visitante.data_nascimento }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Placa do veículo</label>
                        <input type="text" class="form-control" value="{{ visitante.placa_veiculo }}" disabled>
                    </div>
                </div>
            </form>
                    
            <p class="mr-2 mt-3 mb-4 text-right">
                <small>
                    Visitante registrado em {{ visitante.horario_chegada }} por {{ visitante.registrado_por }}.
                </small>
            </p>
        
            <div class="mr-1 text-right">
                <a href="#" class="btn btn-secondary text-white" type="button">
                    <span class="text">Voltar</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}