{% extends "base.html" %}

{% block conteudo %}

<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Formulário para registro de novo visitante
            </h4>

            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <p class="ml-2">Aqui deveria ter um formulário</p>
                </div>

                <div class="text-right">
                    <button class="btn btn-primary" type="submit">
                        <span class="text">Registrar visitante</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}