{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}

<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Formulário para registro de novo visitante
            </h4>

            <p class="mb-5 ml-1">
                <small>
                    O asterisco (*) indica que o campo é obrigatório
                </small>
            </p>

            <form method="post">
                <div class="form-row">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group col-md-12">
                        <label>{{ field.label }} {% if field.field.required %} * {% endif %}</label>
                        {% render_field field placeholder=field.label class="form-control" %}
                    </div>

                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}